<div class="page-sidebar navbar-collapse collapse ng-scope">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="heading">
            <h3>GENERAL</h3>
        </li>
<!--        <li class="start nav-item">

            <a [routerLink]="['/dashboard']">
                <i class="icon-user"></i>
                <span class="title"> Dashboard</span>
            </a>

        </li>-->

        <li class="nav-item">
            <a [routerLink]="['/crisis-center/admin']">
                <i class="icon-user"></i>
                <span class="title"> crisis-center admin</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/crisis-center']">
                <i class="icon-user"></i>
                <span class="title">crisis center</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/clients']">
                <i class="icon-user"></i>
                <span class="title">clients</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/heroes']">
                <i class="icon-user"></i>
                <span class="title">Heroes</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>