<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a [routerLink]="['/dashboard']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i> Dashboard
        </a>
        <a [routerLink]="['/clients']" class="list-group-item">
            <i class="fa fa-fw fa-briefcase"></i> Clients
        </a>
        <a [routerLink]="['/crisis-center']" class="list-group-item">
            <i class="fa fa-fw fa-th-large"></i> Projects
        </a>
        <a [routerLink]="['/heroes']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i> Heroes
        </a>
    </ul>
</nav>
