<div class="row">
    <div class="col-xl-12">
        <h1 class="page-header">
            Projects
        </h1>
    </div>
</div>
<!--<ul class="items">
    <li *ngFor="let project of projects"
        (click)="onSelect(project)">
        <span class="badge">{{project.id}}</span> {{project.name}}
    </li>
</ul>-->
<!--<dx-button text="Refresh Data" height="40px"
           hint="Refresh Data" icon="refresh" type="success" (onClick)="refresh()">
</dx-button>-->
<div class="row" style="margin: 10px 0px;">
    <dx-toolbar [dataSource]="[
        { location: 'before', locateInMenu: 'never', widget: 'dxButton',
            options: { icon: 'refresh', text:'Refresh', type:'success' }
        },{ location: 'before', locateInMenu: 'never', widget: 'dxButton',
            options: { icon: 'preferences', text: 'Settings' }
        }]">
    </dx-toolbar>
</div>
<div class="row" style="margin: 10px 0px;">
    <dx-data-grid [dataSource]="projects"
                  [allowColumnResizing]="true"
                  [hoverStateEnabled]="false"
                  [allowColumnReordering]="true"
                  [searchPanel]="{visible: true}"
                  [paging]="{pageSize: 5}"
                  [pager]="{showInfo:true,showNavigationButtons:true,showPageSizeSelector:true}"
                  [rowAlternationEnabled]="true"
                  [selection]="{mode: 'none'}"
                  [editing]="{mode: 'form',allowUpdating: true,allowDeleting: true,allowAdding: true, texts:{addRow: 'Add a project'}}"
                  [export]="{enabled: true,fileName:'Projects',allowExportSelectedData: true}"
                  [groupPanel]="{visible: true}"
                  [filterRow]="{visible: true,applyFilter: 'auto'}"
                  [selection]="{mode: 'single'}">
    </dx-data-grid>
</div>
 