<div class="row">
    <div class="col-xl-12">
        <h1 class="page-header">
            Projects
        </h1>
    </div>
</div>
<!--<ul class="items">
    <li *ngFor="let project of projects"
        (click)="onSelect(project)">
        <span class="badge">{{project.id}}</span> {{project.name}}
    </li>
</ul>-->
<!--<dx-button text="Refresh Data" height="40px"
           hint="Refresh Data" icon="refresh" type="success" (onClick)="refresh()">
</dx-button>-->
<div class="row" style="margin: 10px 0px;">
    <dx-toolbar [dataSource]="[
        { location: 'before', locateInMenu: 'never', widget: 'dxButton',
            options: { icon: 'refresh', text:'Refresh', type:'success' }
        },{ location: 'before', locateInMenu: 'never', widget: 'dxButton',
            options: { icon: 'preferences', text: 'Settings' }
        }]">
    </dx-toolbar>
</div>
<div class="row" style="margin: 10px 0px;">
    <dx-data-grid [dataSource]="projects"
                  [allowColumnResizing]="dxDataGird.allowColumnResizing"
                  [hoverStateEnabled]="dxDataGird.hoverStateEnabled"
                  [allowColumnReordering]="dxDataGird.allowColumnReordering"
                  [rowAlternationEnabled]="dxDataGird.rowAlternationEnabled"
                  [searchPanel]="dxDataGird.searchPanel"
                  [paging]="dxDataGird.paging"
                  [pager]="dxDataGird.pager"
                  [selection]="dxDataGird.selection"
                  [editing]="dxDataGird.editing"
                  [export]="dxDataGird.export"
                  [groupPanel]="dxDataGird.groupPanel"
                  [filterRow]="dxDataGird.filterRow"
                  (onRowPrepared)="dxDataGird.onRowPrepared($event)"
                  (onCellPrepared)="dxDataGird.onCellPrepared($event)">
    </dx-data-grid>
</div>
 