<div class="container">
        <div class="col-sm-6 col-sm-offset-1">
            <md-card>
                <md-toolbar color="primary">Sign In</md-toolbar><br>
                <md-card-content>
                    <md-input placeholder="Email" type="email"></md-input><br>
                    <md-input placeholder="Password" type="password"></md-input><br><br>
                </md-card-content>
                <md-card-actions>
                    <button  md-raised-button color="primary" (click)="login()">Sign In</button>
                    <button  md-button (click)="goToResetPassword()">Forgot Password?</button>
                </md-card-actions>
            </md-card>
            You don't have an account?<button (click)="goToSignup()" md-button>Sign up</button>
        </div>
</div>
