<div class="login-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Wire Up</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input placeholder="First Name" class="form-control input-underline input-lg" type="text"/>
                    </div>
                    <div class="form-group">
                        <input placeholder="Last Name" class="form-control input-underline input-lg" type="text"/>
                    </div>
                    <div class="form-group">
                        <input placeholder="Company Name" class="form-control input-underline input-lg" type="text"/>
                    </div>
                    <div class="form-group">
                        <input placeholder="Email" class="form-control input-underline input-lg" type="email"/>
                    </div>
                    <div class="form-group">
                        <input placeholder="Password" class="form-control input-underline input-lg" type="password"/>
                    </div>
                    <div class="form-group">
                        <input placeholder="Retype Password" class="form-control input-underline input-lg" type="password"/>
                    </div>
                    <div class="form-group">
                        <div class="radio-inline">
                            <label><input type="radio" name="gender"> Male </label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="gender"> Female </label>
                        </div>
                    </div>
                </div>
                <button class="btn rounded-btn" >Sign up</button>
            </form>
            Already have an account?<a style="cursor: pointer; cursor: hand;" (click)="goToLogin()">Login</a>
        </div>
    </div>
</div>