<div class="container">
    <div class="col-sm-6 col-sm-offset-1">
        <md-card>
            <md-toolbar color="primary">Sign up</md-toolbar><br>
            <md-card-content>
                <md-input placeholder="First Name" type="text"></md-input><br>
                <md-input placeholder="Last Name" type="text"></md-input><br>
                <md-input placeholder="Company Name" type="text"></md-input><br>
                <md-input placeholder="Email" type="email"></md-input><br>
                <md-input placeholder="Password" type="password"></md-input><br>
                <md-input placeholder="Retype Password" type="password"></md-input><br><br>
                <md-radio-group>
                    <md-radio-button checked="true" value="male">Male</md-radio-button>
                    <md-radio-button class="md-primary" value="female">Female</md-radio-button>
                </md-radio-group>
            </md-card-content>
            <md-card-actions>
                <button  md-raised-button color="primary">Sign up</button>
            </md-card-actions>
        </md-card>
        Already have an account?<button (click)="goToLogin()"  md-button>Login</button>
    </div>
</div>