<div class="login-page">
    <dx-toast   [message]="toast.msg"
                [type]="toast.type"
                [displayTime]="toast.time"
                [(visible)]="toast.visible"></dx-toast>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Wire Up</h1>
            <form [formGroup]="signUpForm" novalidate (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div formGroupName="generalInfo">
                        <div class="form-group">
                            <input placeholder="First Name"
                                   formControlName="firstName"
                                   class="form-control input-underline input-lg"
                                   type="text"/>
                            <div [hidden]="signUpForm.controls['generalInfo'].controls['firstName'].valid ||
                                             signUpForm.controls['generalInfo'].controls['firstName'].pristine" class="text-danger">
                                First Name is Required.
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="Last Name"
                                   formControlName="lastName"
                                   class="form-control input-underline input-lg"
                                   type="text"/>
                            <div [hidden]="signUpForm.controls['generalInfo'].controls['lastName'].valid ||
                                             signUpForm.controls['generalInfo'].controls['lastName'].pristine" class="text-danger">
                                Last Name is Required.
                            </div>
                        </div>
                    </div>
                    <div formGroupName="companyInfo">
                        <div class="form-group">
                            <input placeholder="Company Name"
                                   formControlName="companyName"
                                   class="form-control input-underline input-lg"
                                   type="text"/>
                            <div [hidden]="signUpForm.controls['companyInfo'].controls['companyName'].valid ||
                                             signUpForm.controls['companyInfo'].controls['companyName'].pristine" class="text-danger">
                                Company Name is Required.
                            </div>
                        </div>
                    </div>
                    <div formGroupName="accountInfo">
                        <div class="form-group">
                            <input placeholder="Email"
                                   formControlName="email"
                                   class="form-control input-underline input-lg"
                                   type="email"/>
                            <div [hidden]="signUpForm.controls['accountInfo'].controls['email'].valid ||
                                             signUpForm.controls['accountInfo'].controls['email'].pristine" class="text-danger">
                                <p *ngIf="signUpForm.controls['accountInfo'].controls['email'].hasError('required')">
                                    Email is required.
                                </p>
                                <p *ngIf="signUpForm.controls['accountInfo'].controls['email'].hasError('pattern')">
                                    Please enter a valid email address.
                                </p>
                                <p *ngIf="signUpForm.controls['accountInfo'].controls['email'].hasError('isEmailExists')">
                                    Email is already taken.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="Username"
                                   formControlName="userName"
                                   class="form-control input-underline input-lg"
                                   type="text"/>
                            <div [hidden]="signUpForm.controls['accountInfo'].controls['userName'].valid ||
                                             signUpForm.controls['accountInfo'].controls['userName'].pristine" class="text-danger">
                                <p *ngIf="signUpForm.controls['accountInfo'].controls['userName'].hasError('required')">
                                    Username is required.
                                </p>
                                <p *ngIf="signUpForm.controls['accountInfo'].controls['userName'].hasError('minlength')">
                                    Too short, min 3 characters
                                </p>
                                <p *ngIf="signUpForm.controls['accountInfo'].controls['userName'].hasError('maxlength')">
                                    Too long, max 15 characters
                                </p>
                                <p *ngIf="signUpForm.controls['accountInfo'].controls['userName'].hasError('pattern')">
                                    Please enter a valid username.
                                </p>
                                <p *ngIf="signUpForm.controls['accountInfo'].controls['userName'].hasError('isUsernameExists')">
                                    Username is already taken.
                                </p>
                            </div>
                        </div>
                        <div formGroupName="passwords">
                            <div class="form-group">
                                <input placeholder="Password"
                                       formControlName="password"
                                       class="form-control input-underline input-lg"
                                       type="password"/>
                                <div [hidden]="signUpForm.controls['accountInfo'].controls['passwords'].controls['password'].valid ||
                                             signUpForm.controls['accountInfo'].controls['passwords'].controls['password'].pristine"
                                     class="text-danger">
                                    Please enter at least 6 characters.
                                </div>
                            </div>
                            <div class="form-group">
                                <input placeholder="Retype Password"
                                       formControlName="confirmPassword"
                                       class="form-control input-underline input-lg"
                                       type="password"/>
                                <div [hidden]="signUpForm.controls['accountInfo'].controls['passwords'].controls['confirmPassword'].pristine ||
                                                (signUpForm.controls['accountInfo'].controls['passwords'].controls['confirmPassword'].valid &&
                                                signUpForm.controls['accountInfo'].controls['passwords'].valid)"
                                     class="text-danger">
                                    Please enter the same value again.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="generalInfo">
                        <div class="form-group">
                            <div class="radio-inline" *ngFor="let gender of genders">
                                <label>
                                    <input type="radio"
                                           formControlName="gender"
                                           [value]="gender">
                                    {{gender}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!signUpForm.valid">Sign up</button>
            </form>
            Already have an account? <a style="cursor: pointer; cursor: hand;" (click)="goToLogin()">Login</a>
        </div>
    </div>
</div>