<div class="login-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Wire Up</h1>
            <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="resetPassword()">
                <div class="form-content">
                    <div>
                        <input placeholder="Email"
                               formControlName="email"
                               type="email"
                               class="form-control input-underline input-lg"/>
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit">Reset Password</button>
            </form>
            Already have an account?<a style="cursor: pointer; cursor: hand;" (click)="goToLogin()"> Login</a>
        </div>
    </div>
</div>