<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <md-card>
            <md-toolbar color="primary">Reset Password</md-toolbar><br>
            <md-card-content>
                <md-input placeholder="Email" type="email"></md-input><br>
            </md-card-content>
            <md-card-actions>
                <button  md-raised-button color="primary">Reset Password</button>
            </md-card-actions>
        </md-card>
        Already have an account?<button md-button (click)="goToLogin()" >Login</button>
    </div>
</div>